doctype html
html
	head
		meta(charset="utf-8")
		link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Mono")
		link(rel="stylesheet" href="/stylesheets/style.css")
		link(rel="icon" href="/favicon.png")
		title [E]ACH inTheShell

	body
		header
			.nav-container
				nav
					.logo
						a(href="/" style='font-size: xx-large;') inTheShell_

					.nav-bar
						a(href="/writeups") Write‑ups
						a(href="/wiki") Enciclopédia
						a(href="/atividades") Atividades
						a(href="/sobre") Sobre
						a(href="https://ctfssi.intheshell.page/") CTF
		block content
