extends ../../_layouts/default

block content

	.subtitle
		h1
			a(href='/geral') &larr; #[a(href='') Ataque de Dicionário]

		sub técnica

	h4#descricao.subtitle Descrição:
	.container
		p
			| Ataques de dicionário tem como objetivo descobrir a combinação certa de valores dentro de um universo limitado de possibilidades.
		p
			| Ele utilizam uma 
			a(href='/wlist') wordlist
			|  -- uma lista das opções mais prováveis para a combinação que você está tentando descobrir -- para tentar diminuir o número de tentativas e, com isso, o tempo que leva para descobrir a combinação certa seja ela a senha para o usuário 
			code admin
			|  ou um subdiretório secreto em um site.
		p Subcategorias:
		p
			a Ataque de combinação
		p Concatena cada palavra de um ou dois dicionarios e usa elas para fazer o ataque.
		p Exemplo:
		p
		p Lista 1: abacate, pêra e maçã
		p Lista 2: uva e melão
		p
			| Lista Resultante:  abacateuva, abacatemelão, pêrauva, pêramelão, maçãuva e maçãmelão
	h4#ferramentas.subtitle Ferramentas que utilizam ataque de dicionário:
	.container
		ul
			li
				a(href='/hydra') hydra
			li
				a(href='/gobuster') gobuster
	h4#vertambem.subtitle Ver também:
	.container
		ul
			li
				a(href='/fbruta') Ataque de força bruta
