extends ../../_layouts/default

block content

	.subtitle
		h1
			a(href='/wiki') &larr; #[a(href='') Geral]

		sub categoria

	.container
		p Essa categoria envolve o conhecimento necessário para começar em qualquer área.
	h4.subtitle Técnicas/Termos:
	.container
		ul
			li
				a(href='adicio') Ataque de Dicionário
			li
				a(href='fbruta') Ataque de Força Bruta
			li
				a(href='ahibrido') Ataque Híbrido
			li
				a(href='ctf') CTFs
			li
				a(href='wlist') Wordlist
			li Bases Numerais
