extends ../_layouts/default

block content

	.container
		h1
			a(href='') Atividades

	h3.subtitle
		a(name='ctfs') Encontros de CTF
	.container
		p Nos reunimos para resolver desafios de CTF.
	h3.subtitle
		a(name='sessoes') Aulas teóricas e práticas
	.container
		p
			| Utilizando desafios de "Capture The Flag", os integrantes dão aulas envolvendo conceitos e práticas da computação importantes para a atuação na área de segurança da informação. Sendo assim, misturam teoria e prática e tornam o aprendizado mais divertido e atrativo para os interessados.
	h3.subtitle
		a(name='site') Site
	.container
		p
			| O propósito do site é que sirva como uma enciclopédia em português sobre ferramentas, técnicas e outros conceitos importantes para aqueles que se interessam e estão começando na área de segurança.
		p
			| Repositório: 
			a(href='https://github.com/EACH-inTheShell/site2' target='_blank') gitlab.com:intheshell/site&nearr;
	h3.subtitle
		a(name='writeups') Write Ups
	.container
		p
			| Esta técnica consiste em descrever a resolução dos desafios de Capture The Flag realizados pelo grupo. Estes documentos são amplamente utilizados na comunidade também como forma de aprendizado, tanto para quem está escrevendo (reafirmando o conhecimento obtido ao "capturar a bandeira"), como para quem está lendo (conhecendo técnicas, raciocínios e ferramentas antes desconhecidas).
	h3.subtitle
		a(name='oficinas') Oficinas
	.container
		p
			| Além das aulas, o grupo se mobilizou para fazer oficinas internas sobre temas relevantes para segurança da informação, como o funcionamento de um malware (qualquer software malicioso).
		h4
			a(name='oficinademalware') Oficina de Malware
		p.tab
			| Nos reunimos para desenvolver juntos um 
			a Trojan
			|  em C++ para atacar sistemas operacionais 
			a Linux
			| .
		p.tab
			| O malware é um 
			a RAT (Remote Access Tool)
			|  feito para mostrar as possibilidades de um programa e contém funcionalidades diversas incluindo: 
			a Fork Bomb
			| , 
			a RCE
			| , suporte para 
			a Botnet
			|  e coleta de informações.
		p.tab
			| Funcionalidades em consideração/desenvolvimento: update de funcionalidades sem a reexecução do 
			a Trojan
			|  pela vítima.
		p.tab
			| Repositório: 
			a(href='https://github.com/EACH-inTheShell/malware' target='_blank') gitlab.com:intheshell/projetos/malware&nearr;
	h3.subtitle
		a(name='palestras') Palestras
	.container
		p
			| Organização de palestras de conscientização relacionadas à segurança de dados, desenvolvimento seguro e outros tópicos. As palestras são abertas para público geral, principalmente aquelas relacionadas à proteção de dados pessoais, visto que, na pandemia, tem aumentado o número de golpes cibernéticos e há uma urgência em conscientizar mais as pessoas sobre golpes e como se protegerem no ambiente online.
	h3.subtitle
		a(name='podcast') Podcast
	.container
		p
			| Em parceria com os alunos do PET-SI, o grupo gravará episódios sobre segurança da informação com o intuito de explicar como ataques cibernéticos funcionam e como as pessoas podem se defender deles. Será utilizada uma linguagem acessível para que todos os públicos interessados possam compreender sem perda de informação.
	h3.subtitle
		a(name='ctfs') Time de CTF
	.container
		p
			| Além de serem utilizados como forma de aprendizado sobre segurança da informação, os desafios de "Capture The Flag" também compõem um cenário competitivo em que times disputam entre si para quem resolve mais desafios no tempo estipulado do campeonato.
		p
			| No começo de 2021, o grupo participou de uma competição de CTF global chamada "JustCTF". Na ocasião, o time ficou em terceiro lugar das equipes brasileiras que estavam participando.
	h3.subtitle
		a(name='ctfssi') CTF para a Semana de Sistemas de Informação
	.container
		p
			| O grupo foi chamado pela Comissão Organizadora da SSI para elaborar uma competição de CTF para os alunos de SI.
	h3.subtitle
		a(name='encabertos') Encontros abertos
	.container
		p
			| A fim de disseminar o conhecimento de cibersegurança e reafirmar o propósito de servir como porta de entrada para a área, o grupo ministrou aulas abertas para o público interessado sobre o conteúdo básico para começar na área.
		p
			| O feedback foi positivo e os participantes sentiram que, após as aulas, se tornaram mais aptos a procurar mais conteúdo sobre o assunto.
		p
			| Em maio de 2021 será ministrado outro encontro aberto para o público geral, mas também com os intuitos de: divulgar o grupo e suas atividades para os ingressantes e servir como um treinamento para aqueles que se interessarem em participar do CTF-SSI.
		h4
			a(name='encontros0x01') Encontros 0x01
		p.tab
			| Encontros abertos ao público com o objetivo de introduzir pessoas ao conhecimento básico de todo hacker.