extends ../../_layouts/default

block content

	.subtitle
		h1
			a(href='/wiki') &larr; #[a(href='') Computação Forense]

		sub categoria

	.container
		p A prática de extrair informações e evidências de mídias de armazenamento.
	h4.subtitle Técnicas/Termos:
	.container
		ul
			li Esteganografia
	h4.subtitle Ferramentas:
	.container
		ul
			li
				a(href='exiftool') exiftool
			li
				a(href='steghide') steghide
			li binwalk
			li hexcurse
			li
				a(href='hexedit') hexedit
			li stegcracker
			li zsteg
			li stegoveritas
			li
				a(href='stegsolve') stegsolve
			li volatility
