extends ../../_layouts/default

block content
	.subtitle
		h1
			a(href='/wiki/cripto') &larr; #[a(href='') Aritmética Modular]

		sub categoria

	h4#descricao.subtitle Descrição:
	
	.container
		p
			| Um sistema de aritmética para inteiros onde os números estão entre alguns conjuntos de números
		p
			a(href='https://pt.wikipedia.org/wiki/Aritm%C3%A9tica_modular' target='_blank') AQUI&nearr;
