extends ../../_layouts/default

block content

	.subtitle
		h1
			a(href='/wiki/cripto') &larr; #[a(href='') Teorema de Euclides]

		sub categoria

	h4#descricao.subtitle Descrição:
	
	.container
		p &quot;Existe uma quantidade infinita de números primos.&quot;
		p Prova por absurdo:
		p
			| Suponhamos que os números primos sejam finitos. Então existe um número hipotético X cuja decomposição em factores primos é a multiplicação de todos os primos existentes (P&apos; * P&quot; * P&quot;&apos; * ...). Sendo assim o número seguinte X+1 não possui na sua factorização nenhum dos primos citados na decomposição em factores do seu antecessor X. Logo X+1 é outro primo ou múltiplo de um primo que não está na lista de primos.
		p
			a(href='https://pt.wikipedia.org/wiki/Teoria_dos_n%C3%BAmeros#Teorema_de_Euclides' target='_blank') AQUI&nearr;
