extends ../../_layouts/default

block content
	.subtitle
		h1
			a(href='/wiki') &larr; #[a(href='') Engenharia Social]

		sub categoria

	.container
		p
			| Hackear pessoas com o intuito de obter informações ou acesso à coisas outrora restritas.
