extends ../_layouts/default

block content	
	.container
		h1
			a(href='') Sobre

	.container
		p Somos o #[a(href='/') EACH in The Shell], um grupo criado por alunos de Sistemas de Informação da USP para o estudo de segurança da informação.
		p Nossa missão é democratizar o acesso ao conteúdo de hacking e conscientizar usuários leigos sobre como se proteger no ambiente digital.
		p Redes sociais:
		p
			a(href='https://discord.gg/FnkgJUrUan' target='_blank') Dicord&#x2197;
		p
			a(href='https://www.linkedin.com/company/intheshell/' target='_blank') Linkedin&#x2197;
		p
			a(href='https://www.instagram.com/eachintheshell/' target='_blank') Instagram&#x2197;

	.subtitle
		h3 A composição

	.container
		h4 Docente responsável
		ul
			ul
				li
					a(href='') Marcio Moretto
		h4 Integrantes
		ul
			ul
				li
					a(href='') Júlia Passos<!-- powerslave -->
				li
					a(href='') João Fukuda<!-- mayfly -->
				li
					a(href='') Larissa Maruyama<!-- uxie -->
				li
					a(href='') Felipe Furquim<!-- istari -->
				li
					a(href='') Henrique Tsuyoshi<!-- Doombringer Azurai -->
				li
					a(href='') Beatriz Novais<!-- pekerrucha -->
				li
					a(href='') Gabriel Melo<!-- ugo -->
				li
					a(href='') Lucas Vilela<!-- ņomin̶h̵o̧h̴ack͠er͡ -->
				li
					a(href='') Marco Antonio<!-- Hostless -->
				li
					a(href='') Mirela Mei<!-- MΞi -->
				li
					a(href='') Rafael Nakata<!-- otsuka -->
				li
					a(href='') Gabriel Affonso<!-- L1MBO -->
				li
					a(href='') Enrique Emanuel<!-- OiapokXui -->
				li
					a(href='') Giane Mayumi<!-- sc0rpii -->
				li
					a(href='') Melissa Inui<!-- 3-E -->
				li
					a(href='') Thais de Souza<!-- tonks -->
				li
					a(href='') Vitor Cairolli<!-- lobster_fridge -->
