extends ../_layouts/default

block content	
	.container
		h1 Sobre

		a.button(href='membros') Membros

	.container
		p Somos o #[a(href='/') EACH in The Shell], um grupo criado por alunos de Sistemas de Informação da USP para o estudo de segurança da informação.
		p Nossa missão é democratizar o acesso ao conteúdo de hacking e conscientizar usuários leigos sobre como se proteger no ambiente digital.
		p Redes sociais:
		p
			a(href='https://discord.gg/FnkgJUrUan' target='_blank') Discord&#x2197;
		p
			a(href='https://www.linkedin.com/company/intheshell/' target='_blank') Linkedin&#x2197;
		p
			a(href='https://www.instagram.com/eachintheshell/' target='_blank') Instagram&#x2197;
		p
			a(href='https://github.com/EACH-inTheShell' target='_blank') Github&#x2197;
