extends ../../_layouts/default

block content

	.subtitle
		h1
			a(href='/wiki') &larr; #[a(href='') OSInt]

		sub categoria

	.container
		p
			| Coleta de informações abertas a todos (informações no facebook, instagram e outras contas publicamente disponíveis).
	h4.subtitle Técnicas/Termos:
	.container
		ul
			li Encriptação
	h4.subtitle Ferramentas:
	.container
		ul
			li
				a(href='sherlock') sherlock
			li recon-ng
			li SubBrute
			li Truffle Hog
			li Sublist3r
