extends ../../_layouts/default

block content

	.subtitle
		h1
			a(href='/wiki') &larr; #[a(href='') Linux]

		sub categoria

	.container
		p
			| Sistemas operacionais que utilizam o kernel Linux; baseado em Unix. O mais utilizado por servidores na rede. Também tem sua presença no cenário de sistemas operacionais pessoais.
	h4.subtitle Ferramentas:
	.container
		ul
			li bash
