extends ../../_layouts/default

block content
	.container
		h1 #[a(href='/sobre') &larr;] Quem somos

		.members
			
			.member
				.image
					img(src='/images/members/reticencias.png')
				.text
					h5 Pedro Resnitzky
					h6 reticencias
					p ...
					.tags
						.tag crypto
						.tag binexp
					.links
						a.link(href='https://www.linkedin.com/in/pedroresnitzky' target='_blank') linkedin
						a.link(href='https://github.com/npedrohh' target='_blank') github

			.member
				.image
					img(src='/images/members/Fetoba.jpeg')
				.text
					h5 Fernando Toba Lopez
					h6 Take
					p não tenho mais muito o que por aqui.
					.tags
						.tag web
						.tag osint
						.tag hardware
					.links
						a.link(href='https://www.linkedin.com/in/fernandotobalopez/' target='_blank') linkedin
						a.link(href='https://github.com/Feba2612' target='_blank') github

			.member
				.image
					img(src='/images/members/sirmonteiro.jpeg')
				.text
					h5 Gabriel Monteiro de Souza
					h6 SirMonteiro
					p tentando hackear tudo que vê pela frente.
					.tags
						.tag web
						.tag hardware
					.links
						a.link(href='https://www.linkedin.com/in/gabrieldesouza7' target='_blank') linkedin
						a.link(href='https://github.com/sirmonteiro' target='_blank') github

			.member
				.image
					img(src='/images/members/aninha.png')
				.text
					h5 Ana Paula Bernardo dos Santos
					h6 Cattanna
					p lindo o dragao do kali linux.
					.tags
						.tag web
						.tag osint
						.tag redes
						.tag hardware
					.links
						a.link(href='https://www.linkedin.com/in/ana-paula-b-/' target='_blank') linkedin
						a.link(href='https://github.com/anasantosdev' target='_blank') github

			.member
				.image
					img(src='/images/members/almeida.jpg')
				.text
					h5 Gustavo Almeida
					h6 a_a
					p se quebrar, travar ou ficar lento, não é culpa minha.
					.tags
						.tag hardware
						.tag redes
					.links
						a.link(href='https://www.linkedin.com/in/gustavo-almeida-679773213/' target='_blank') linkedin
						a.link(href='https://github.com/SystemGuuh' target='_blank') github
			
			.member
				.image
					img(src='/images/members/rodrigolyusei.jpg')
				.text
					h5 Rodrigo Lyusei Suguimoto
					h6 beedee
					p curioso sem rumo.
					.tags
						.tag web
						.tag crypto
					.links
						a.link(href='https://www.linkedin.com/in/rodrigolyusei/' target='_blank') linkedin
						a.link(href='https://github.com/JolidPnake' target='_blank') github

			.member
				.image
					img(src='/images/members/mayumi.jpg')
				.text
					h5 Giane Mayumi
					h6 sc0rpii
					p gosto de aprender um pouco de tudo.
					.tags
						.tag web
						.tag osint
						.tag hardware
					.links
						a.link(href='https://anemaygi.github.io/' target='_blank') site
						a.link(href='https://www.linkedin.com/in/gianemayumi' target='_blank') linkedin
						a.link(href='https://github.com/Anemaygi' target='_blank') github

			.member
				.image
					img(src='/images/members/juliacbpassos.jpeg')
				.text
					h5 Júlia Passos
					h6 powerslave
					p sempre desconfiando de tudo.
					.tags
						.tag cloud
						.tag net
					.links
						a.link(href='https://www.linkedin.com/in/juliacbpassos' target='_blank') linkedin
			.member
				.image
					img(src='/images/members/fnknda.jpeg')
				.text
					h5 João Fukuda
					h6 Fnknda
					p apreciador de todas as coisas baixo nível.
					.tags
						.tag pwn
						.tag rev
						.tag net
						.tag vx
					.links
						a.link(href='https://fukuda.sh/' target='_blank') site
						a.link(href='https://github.com/JoaoFukuda' target='_blank') github
						a.link(href='https://www.linkedin.com/in/joaofukuda' target='_blank') linkedin
			.member
				.image
					img(src='/images/members/tangiota.jpeg')
				.text
					h5 Larissa Maruyama
					h6 uxie
					p gosto de golpes e malwares, mas não mexo com nenhum.
					.tags
						.tag web
						.tag mob
						.tag hardware
					.links
						a.link(href='https://www.linkedin.com/in/larissamaruyama' target='_blank') linkedin
			
			.member
				.image
					img(src='/images/members/geovanny.png')
				.text
					h5 Geovanny Luan Piedade
					h6 G4NY
					p na minha máquina não funciona
					.tags
						.tag web
						.tag osint
					.links
						a.link(href='https://www.linkedin.com/in/geovanny-luan-piedade71a662294/' target='_blank') linkedin
			
			.member
				.image
					img(src='/images/members/duda.jpeg')
				.text
					h5 Eduarda Porangaba
					h6 Dara due
					p ZWkgbWl05ORuIHTk5Gxs5DopOg==
					.tags
						.tag web
						.tag rev
						.tag osint 
					.links 
						a.link(href='https://www.linkedin.com/in/eduardalimaporangaba/' target='_blank') linkedin
						a.link(href='https://github.com/DuPorangaba' target='_blank') github

			.member
				.image
					img(src='/images/members/tik.jpg')
				.text
					h5 Tiago Weizmann Hudler
					h6 tik
					p por mim era tudo UDP
					.tags
						.tag net
						.tag reverse engineering
					.links
						a.link(href='https://github.com/tiagohudler' target='_blank') github
						a.link(href='https://www.linkedin.com/in/tiago-hudler/' target='_blank') linkedin

	.container
		h1 Ex-integrantes
		.members
			.member
				.image
					img(src='/images/members/placeholder.jpeg')
				.text
					h5 Felipe Furquim
					h6 istari
			.member
				.image
					img(src='/images/members/placeholder.jpeg')
				.text
					h5 Henrique Tsuyoshi
					h6 Doombringer Azurai
					.links
						a.link(href='https://htsuyoshi.github.io/' target='_blank') site
						a.link(href='https://github.com/htsuyoshi' target='_blank') github
			.member
				.image
					img(src='/images/members/placeholder.jpeg')
				.text
					h5 Gabriel Melo
					h6 ugo
			.member
				.image
					img(src='/images/members/placeholder.jpeg')
				.text
					h5 Beatriz Novais
					h6 pekerrucha
			.member
				.image
					img(src='/images/members/placeholder.jpeg')
				.text
					h5 Lucas Vilela
					h6 ņomin̶h̵o̧h̴ack͠er͡
			.member
				.image
					img(src='/images/members/placeholder.jpeg')
				.text
					h5 Marco Antonio
					h6 Hostless
			.member
				.image
					img(src='/images/members/placeholder.jpeg')
				.text
					h5 Mirela Mei
					h6 MΞi
			.member
				.image
					img(src='/images/members/placeholder.jpeg')
				.text
					h5 Rafael Nakata
					h6 otsuka
					.links
						a.link(href='https://www.linkedin.com/in/rafaelk-nakata/' target='_blank') linkedin
			.member
				.image
					img(src='/images/members/placeholder.jpeg')
				.text
					h5 Gabriel Affonso
					h6 L1MBO
			.member
				.image
					img(src='/images/members/placeholder.jpeg')
				.text
					h5 Enrique Emanuel
					h6 OiapokXui
			.member
				.image
					img(src='/images/members/placeholder.jpeg')
				.text
					h5 Melissa Inui
					h6 3-E
			.member
				.image
					img(src='/images/members/placeholder.jpeg')
				.text
					h5 Thais de Souza
					h6 tonks
			.member
				.image
					img(src='/images/members/placeholder.jpeg')
				.text
					h5 Vitor Cairolli
					h6 lobster_fridge
			.member
				.image
					img(src='/images/members/placeholder.jpeg')
				.text
					h5 André Vieira Rocha
					h6 Quack?
			.member
				.image
					img(src='/images/members/placeholder.jpeg')
				.text
					h5 Carlos Vinicius Borges Oliveira Reis
					h6 g@te
			.member
				.image
					img(src='/images/members/placeholder.jpeg')
				.text
					h5 Eric Hashimoto
					h6 ha$h
			.member
				.image
					img(src='/images/members/placeholder.jpeg')
				.text
					h5 Ian Lourenço
					h6 Arsène (Lupin)
			.member
				.image
					img(src='/images/members/placeholder.jpeg')
				.text
					h5 Jadno Augusto Barbosa da Silva
					h6 GLXY
			.member
				.image
					img(src='/images/members/placeholder.jpeg')
				.text
					h5 Nathalia Barbosa Jaun Rodrigues
					h6 Ign1s
			.member
				.image
					img(src='/images/members/placeholder.jpeg')
				.text
					h5 Tales Durval de Assis Vedovatti
					h6 Mawik

			.member
				.image
					img(src='/images/members/placeholder.jpeg')
				.text
					h5 Natália Augusto de Queiroz
			.member
				.image
					img(src='/images/members/placeholder.jpeg')
				.text
					h5 Livia Vanessa Carlini Martins
