extends ../../_layouts/default

block content

	.subtitle
		h1
			a(href='/wiki') &larr; #[a(href='') Web]

		sub categoria

	.container
		p Exploração de aplicações web buscando por vulnerabilidades.
	h4.subtitle Técnicas/Termos:
	.container
		ul
			li OWASP Top 10
			li Injeção
			li XSS
	h4.subtitle Ferramentas:
	.container
		ul
			li
				a(href='gobuster') gobuster
			li eyewitness
			li sqlmap
			li whatweb
