extends ../../_layouts/default

block content
	.subtitle
		h1
			a(href='/wiki') &larr; #[a(href='') Exploração de Binários]

		sub categoria

	.container
		p
			| Analisar um programa já compilado para entender seu funcionamento. Conhecimento muito utilizado na análise de malwares e vírus e praticado bastante em conjunto com 
			a(href='engrev') engenharia reversa
			| .
	h4.subtitle Técnicas/Termos:
	.container
		ul
			li Overflow de Buffer
			li Vulnerabilidade de Formatação de String
			li Overflow de Inteiro
			li Exploração de Heap
