extends _layouts/default

block content	
	.container
		.title
			h1 [E]ACH
			h2 inTheShell_
		p O grupo de estudos de InfoSec da #[a(href="https://each.usp.br/" target="_blank") EACH-USP&#x2197;], composto por alunes de #[a(href="https://each.usp.br/si/" target="_blank") Sistemas de informação&#x2197;].
		p Nosso objetivo como um grupo é ser a porta de entrada para o mundo de segurança da informação; dos hackers.