extends _layouts/default

block content
	.nav-container
		nav
			a(href="/links") Links
			a(href="/sobre") Sobre
			a(href="/wiki") Wiki
			a(href="/projetos") Projetos
	.content-container
		.title
			h1 [E]ACH
			h2 inTheShell_
		.content
			center 19/03 - Encontro Aberto - Ferramentas
			center 12/02 - Lançamento do Post
			center 01/01 - Encontro Aberto - CTF-SSI
