extends ../_layouts/default

block content	
	.container
		h1
			a(href='') Membros

	.subtitle
		h3 Integrantes

	.container
		p Hello World

	.subtitle
		.grid-container-membros
			.pessoa1 
				img(src="images/mock.png", alt="")
			.pessoa2
				img(src="images/mock.png", alt="")
			.pessoa3
				img(src="images/mock.png", alt="")
			.pessoa4
				img(src="images/mock.png", alt="")
			.pessoa5
				img(src="images/mock.png", alt="")
			.pessoa6
				img(src="images/mock.png", alt="")

	.subtitle
		h3 Docente responsável

	.subtitle
		h3 Ex-Integrantes