
extends ../../_layouts/default

block content

	.subtitle
		h1
			a(href='/wiki') &larr; #[a(href='') Windows]

		sub categoria

	.container
		p
			| Sistema operacional Microsoft Windows. 
			b Ainda
			|  o mais utilizado entre usuários casuais.
	h4.subtitle Ferramentas:
	.container
		ul
			li PowerShell
