extends ../../_layouts/default

block content
	.subtitle
		h1
			a(href='/wiki') &larr; #[a(href='') Defesa e Blue Team]

		sub categoria

	.container
		p Utilizar o conhecimento de um atacante para defender um sistema.
	
	h4.subtitle Técnicas/Termos:
	
	.container
		ul
			li Sistemas Operacionais
			li Linux
			li Windows
			li Active Directory
			li honeypot
