extends ../_layouts/default

block content

	.container
	h1
		a(href='') Writeups
	.container
	p Use write-ups com cuidado! Aprenda, não copie.
	.container
	p
		a(href='') Write-ups
		|  são resoluções de 
		a(href='ctf') CTFs
		|  feitas por outras pessoas descrevendo como elas o resolveram. Essas resoluções envolvem o processo de pensamento da pessoa e as ferramentas e técnicas utilizadas.
	p
		| Sinta-se livre para dar uma olhada nos desafios, mas tente fazê-los primeiro, mas não se sinta proibido de olhar caso esteja passando por dificuldades; só prefira pedir ajuda a outros no canal do telegram ou discord antes. aprenda com ele e não copie.
