extends ../_layouts/default

block content
	.subtitle
		h1
			a(href='/wiki') &larr; #[a(href='') Criptografia]

		sub categoria

	.container
		p
			| Proteger dados públicos com o objetivo de aumentar a segurança, confirmar identidade ou impedir espionagem ou adultério de dados.
		p
			| A história da criptografia começa com as cifras anciãs: cifra de rotação (cesar), substituição, transposição, polialfabetica, affine, etc...
		p
			| Depois a criptografia clássica começou com: criptografia simétrica, assimetrica e protocolos.
		p Um princípio famoso do Kerckhoffs que define um sistema de criptográfico é:
		p.tab.block
			| &quot;Um sistema criptográfico deve ser seguro mesmo que tudo sobre o sistema, exceto a chave, seja de conhecimento público.&quot;
	.container
		h3.subtitle Criptoanálise
		p
			| Diferente da criptografia a criptoanálise tem como objetivo de decifrar a codificação usada sem ter acesso da chave-secreta.
		h4.subtitle Alguns ramos dos ataques da criptoanálise são:
		h5.subtitle Criptoanálise clássica:
	.container
		ul
			li Ataque de força-bruta: Testa todas as entradas e analisa as suas saídas
			li
				| Ataque analítico: Tenta achar alguma vulnerabilidade na estrutura no sistema criptográfico
		h5.subtitle Ataques de Implementação
		ul
			li
				| São mais utilizados quando se tem acesso ao hardware, é usado o consumo de energia do computador para recuperar a chave aplicando técnicas de processamento de sinal. Buffer overflow também pode ser utilizado.
		h4.subtitle Técnicas/Termos:
		.container
			ul
				li Hash
				li Cifra
		h4.subtitle Ferramentas:
		.container
			ul
				li
					a(href='/wiki/hashcat') hashcat
				li
					a(href='/wiki/hashid') hashid
				li
					a(href='/wiki/john') john
		h4.subtitle Tópicos matemáticos:
		.container
			ul
				li
					a(href='/wiki/mat/aleator') Aleatoriedade
				li
					a(href='/wiki/mat/teorian') Teoria dos números
				li
					a(href='/wiki/mat/aritmod') Aritmética modular
				li
					a(href='/wiki/mat/euclid') Teorema de Euclides
				li
					a Algoritmo de Euclides extendido
				li
					a Teorema chines do resto
				li
					a Pequeno teorema de Fermat
				li
					a Função totiente de Euler
				li
					a Teorema de Euler
