extends ../_layouts/default

block content

	.subtitle
		h1
			a(href='/geral') &larr; #[a(href='') Capture The Flag]

		sub termo

	h4#descricao.subtitle Descrição:
	.container
		p
			a(href='') CTFs
			|  (
			a(href='') Capture The Flags
			| ) são um conjunto de desafios cujo objetivo é testar e aprimorar os conhecimentos sobre hacking.
