extends ../_layouts/default

block content
	.subtitle
		h1
			a(href='/wiki') &larr; #[a(href='') Engenharia Reversa]

		sub categoria

	.container
		p Explorar vulnerabilidades a partir da análise de código fonte.
	h4.subtitle Técnicas/Termos:
	.container
		ul
			li Linguagens de Programação
			li Assembly
			li Descompilação
	h4.subtitle Ferramentas:
	.container
		ul
			li radare2
			li IDA pro
			li gdb
			li Ghidra
			li Binary Ninja