extends ../_layouts/default

block content

	.subtitle
		h1
			a(href='/wiki/geral') &larr; #[a(href='') Ataque de Força Bruta]

		sub técnica

	h4#descricao.subtitle Descrição:
	.container
		p
			| Ataques de força bruta testam todas as combinações possíveis para se obter a combinação certa de par&acirc;metros (senha, usuário, etc).
		p
			a Subcategorias:
		p.tabs
			a Xieve
		p
			| Os mesmos procedimentos da força bruta, mas ele pula as tentativas que não fazem sentido. Ele usa uma tabela com as palavras mais usadas de cada língua.
		p
			a Ataque de máscara
		p.tabs
			| Os mesmos procedimentos da força bruta, mas tem um padrão definido (máscara) como um filtro. Como exemplo saber que a senha de alguém começa com 4 letras e 4 números, isso faz com que o número de tentativa diminua drasticamente.
		p
			a Ataque baseado em regras
		p.tabs
			| Gerar expressoes com certas regras impostas como letras maiúsculas, minúsculas, apenas a primeira letra maiúscula e outras regras do tipo.
		p
			a Ataque de caixa alternada
		p.tabs
			| Testa todas as possibilidades (maiúsculas e minúsculas) para as tentativas que contiverem letras. Por exemplo: ola, Ola, oLa, olA, OLa, etc..
	h4#ferramentas.subtitle Ferramentas que utilizam ataque de força bruta:
	.container
		ul
			li
				a(href='/wiki/hydra') hydra
			li
				a(href='/wiki/hashcat') hashcat
	h4#vertambem.subtitle Ver também:
	.container
		ul
			li
				a(href='/wiki/adicio') Ataque de dicionário
