extends ../_layouts/default

block content

	.subtitle
		h1
			a(href='/web') &larr; #[a(href='') Gobuster]

		sub ferramenta (linux, mac, windows)

	h4#descricao.subtitle Descrição:
	.container
		p
			code gobuster
			|  é um enumerador que utiliza ataque de 
			a(href='/adicio') dicionário
			|  e 
			a(href='/fbruta') força bruta
			|  em URIs, subdomínios DNS e nomes de hosts virtuais em servidores web.
	h4#uso.subtitle Uso:
	.container
		p
			code gobuster [opções globais] &lt;modo&gt; [opções de modo]
		p
		h4#opcoes.subtitle Opções:
		p
			| O 
			code gobuster
			|  tem três modos: 
			code dns
			| , 
			code dir
			|  e 
			code vhost
			| .
		h5 Globais
		ul
			li
				b -t &lt;threads&gt;
				| : 
				p
					| define o número de threads usadas para
					| rodar o programa
			li
				b -w/--wordlist &lt;arquivo&gt;
				| : 
				p
					| define qual 
					a(href='/wlist') wordlist
					|  usar
		h5 dir
		ul
			li
				b -u/--url &lt;url&gt;
				| : 
				p define qual o alvo do ataque
	h4#exemplos.subtitle Exemplos:
	.container
		p
			| Escanear por um subdiret&oacute;rio em https://intheshell.page/ usando a 
			a(href='/wlist') wordlist
			code ./wordlist.txt
		code.tab.block gobuster dir -u https://intheshell.page/ --wordlist ./wordlist.txt
