extends ../_layouts/default

block content

	.subtitle
		h1
			a(href='/wiki') &larr; #[a(href='') Hardware Hacking]

		sub categoria

	.container
		p
			| Modificação de circuitos eletrônicos para a área de segurança. Esses dispositivos podem ser usados tanto para fins positivos quanto negativos.
	h4.subtitle Técnicas/Termos:
	.container
		ul
			li Circuitos
			li Microcontroladores
			li Drop Box
			li Bad USB
			li Eletrônica
	h4.subtitle Ferramentas:
	.container
		ul
			li Rubber Ducky
			li Arduino
			li Raspberry Pi
			li Digispark
			li Lan Tap
