extends ../_layouts/default

block content

	.subtitle
		h1
			a(href='/cripto') &larr; #[a(href='') hashid]

		sub ferramenta (linux, mac, windows)

	h4#descricao.subtitle Descrição:
	
	.container
		p
			| O 
			code hashid
			|  é uma ferramenta feita em python3 para idenficar o tipo de hash que foi usado para criptografar o dado. Ele contém mais de 220 tipos de hashes guardados para comparação.
	
	h4#uso.subtitle Uso:
	
	.container
		p
			code  hashid [opção...] &lt;entrada&gt;
		| &#x9;A 
		code &lt;entrada&gt;
		|  pode ser tanto um hash escrito quanto vários arquivos em um diretório.
		h4#opcoes.subtitle Opções:
		ul
			li
				b -e &lt;-extended&gt;
				| : lista todos os algoritmos de hash incluindo senhas com sal
			li
				b -m &lt;-mode&gt;
				| : mostra o modo correspondente do hash no 
				a(href='/hashcat') hashcat
			li
				b -j &lt;-john&gt;
				| : mostra o modo correspondente do hash no 
				a(href='/john') JohnTheRipper
			li
				b -o &lt;-outfile FILE&gt;
				| : escreve a saída em um arquivo
	
	h4#exemplos.subtitle Exemplos:
	
	.container
		p
			| Verificando o hash 
			code &quot;6a204bd89f3c8348afd5c77c717a097a&quot;
		code.tab.block hashid 6a204bd89f3c8348afd5c77c717a097a
		p
			| Verificando todos os hashes dentro do arquivo 
			code &quot;hash.txt&quot;
			|  com o parâmetro 
			code -m
			|  para mostrar os modos correspondentes para o uso no hashcat
		code.tab.block hashid -m hash.txt
		p
			| Verificando todos os hashes de todos os arquivos da pasta atual com o parâmetro 
			code -j
			|  para mostrar os modos correspondentes para o uso no JohnTheRipper e colocando a sua saída em um arquivo 
			code &quot;resultado.txt&quot;
		code.tab.block hashid -j ./* -o resultado.txt
