extends ../_layouts/default

block content

	.subtitle
		h1
			a(href='/wiki') &larr; #[a(href='') hashcat]

		sub ferramenta (linux, mac, windows)

	h4#descricao.subtitle Descrição:
	
	.container
		p
			| O 
			code hashcat
			|  é uma ferramenta para quebrar hashes, em seu 
			a(href='https://hashcat.net' target='_blank')  site oficial&nearr;
			|   existe uma lista com todos os hashes suportados. A parte start do 
			a(href='https://hashcat.net/wiki/#howtos_videos_papers_articles_etc_in_the_wild' target='_blank') site&nearr;
			|  mostra ferramentas e sites auxiliares bem úteis.
		p
			a(href='/hashid') hashid
			|  e o 
			a(href='/hashcat')  hashcat
			|   fazem uma boa combinação também!
		p
			| Para extrair hashes de arquivos existe esse 
			a(href='https://www.unix-ninja.com/p/A_cheat-sheet_for_password_crackers' target='_blank') cheat-sheet&nearr;
			| .
		p
			| Esse 
			a(href='https://hashcat.net/wiki/doku.php?id=example_hashes' target='_blank') site&nearr;
			|  contém alguns exemplos de hashes.
	
	h4#uso.subtitle Uso:
	
	.container
		p
			code  hashcat [opção...] &lt;hash&gt;
		|   O 
		code &lt;hash&gt;
		|  pode ser tanto um hash escrito quanto um arquivo.
		h4#opcoes.subtitle Opções:
		ul
			li
				b &lt;--show&gt;
				| : mostra o resultado dos hashes registrados que conseguiram quebrar o arquivo
			
			li
				b -m &lt;--hash-type&gt;
				| : escolhe o tipo de hash para o hashcat crackear
			
			li
				b -p &lt;--separator&gt;
				| : escolhe um char para as listas de hashes e o arquivo de saída
			
			li
				b -r &lt;--rules-file&gt;
				| : recebe um arquivo com as regras aplicadas para cada palavra da lista de palvras. Explicação de como usar 
				a(href='/hashcat/regras') AQUI
			
			li
				b -a &lt;--attack-mode&gt;
				| : escolhe um dos modos de ataque (0-7)
				ul
					li
						a(href='/wiki/geral/adicio') Ataque de dicionário
						|  - 0
					li
						a(href='/wiki/geral/adicio') Ataque de combinação
						|  - 1
					li
						a(href='/wiki/geral/fbruta') Ataque de força bruta e ataque de máscara
						|  - 3
					li
						a(href='/wiki/geral/fbruta') Ataque baseado em regras
						|  - 0, 6 e 7
					li
						a(href='/wiki/geral/fbruta') Ataque de caixa alternada
						|  - 7
					li
						a(href='/wiki/geral/ahibrido') Ataque híbrido
						|  - 6 e 7
				li
					b -h
					| : para instruções mais específicas

	h4#exemplos.subtitle Exemplos:
	
	.container
		p
			b
			a(href='/wiki/geral/fbruta') Ataque de dicionário
		p
			| Modo de ataque 0  para crackear varios hashes  na lista &quot;
			code hashMD5.txt
			| &quot; md5 usando uma lista chamada &quot;
			code lista_de_senhas.txt
			| &quot;
		p
			code.tab.block hashcat -a 0 -m 0 hashMD5.txt lista_de_senhas.txt
		p
			b
			a(href='/wiki/geral/fbruta') Ataque baseado em regras
		p
			| Modo de ataque 0 para crackear um hash SHA-1 seguindo as regras impostas pelo arquivo &quot;
			code regras.txt
			| &quot;). Uma explicação mais completa pode ser encontrada 
			a(href='hashcat/regras') AQUI
			| .
		p
			code.tab.block hashcat -a 0 -m 100 hashSHA1.txt -r regras.txt
		p
			b
			a(href='/wiki/geral/ahibrido/') Ataque de caixa alternada
		p
			| O ataque de caixa alternada pode ser feito usando as regras (ataque 0) do hashcat já que existe o comando &quot;TN&quot; que altera maiúsculo ou minúsculo na casa &quot;N&quot;. Existem regras prontas para serem baixadas e usadas para poder serem usadas 
			a(href='https://github.com/hashcat/hashcat/tree/master/rules' target='_blank') AQUI&nearr;
			| .
		p
			| As listas providas, contém a mudança de palavras de 1 até 15 caracteres, podendo mudar até 5 caracteres simultâneamentes.
		p
			code.tab.block hashcat -a 0 -m 100 hashSHA1.txt dicio.txt -r toggle5.rule
		p
			b
			a(href='/wiki/geral/adicio') Ataque de combinação
		p
			| Modo de ataque 1 para crackear uma lista de hashes &quot;
			code hashMD4.txt
			| &quot; MD4 usando duas listas &quot;
			code lista_1.txt
			| &quot; e &quot;
			code lista_2.txt
			| &quot;
		p
			code.tab.block hashcat -a 1 -m 900 hashMD4.txt lista_1.txt lista_2.txt
		p
			b
			a(href='/wiki/geral/fbruta') Ataque de força bruta e máscara
		p
			| Modo de ataque 3 para crackear um hash MD4 composto de 6 letras (a-z). Uma explicação mais completa pode ser encontrada 
			a(href='hashcat/fbrutamasc') AQUI
			| .
		p
			code.tab.block hashcat -a 3 -m 900 hashMD4.txt ?l?l?l?l?l?l
		p
			b
			a(href='/wiki/geral/ahibrido') Ataque híbrido
		p
			| Modo de ataque 6 (dicionário + máscara) e 7 (máscara + dicionário). Usando o ataque 6 o ataque será feito com as palavras do dicionário na frente e o ataque de máscara concatenado logo depois, usando o ataque 7 o ataque será feito com as palavras do dicionário concatenado depois do ataque de máscara.
		p
			code.tab.block hashcat -a 6 -m 900 hashSHA1.txt dicio.txt l?l?l
		p
			code.tab.block hashcat -a 7 -m 900 hashSHA1.txt ?l?l?l dicio.txt
