extends ../_layouts/default

block content

	.container
		h1
			a(href='') Enciclopédia

	.container
		h2 Bem vindes à base de conhecimento do EitS!

	.container
		p
			| Aqui você encontra paginas sobre diferentes ferramentas e técnicas, assim como 
			a(href='/writeups') write-ups
			|  e vários outros recursos úteis para começar a hackear, melhorar suas habilidades ou só dar aquela relembrada.
		.container
		p A divisão principal dessa enciclopédia é por categoria. Essas são:
		
		ul
			li
				a(href='/wiki/geral') Geral/Básico
			li
				a(href='/wiki/forense') Computação forense
			li
				a(href='/wiki/cripto') Criptografia
			li
				a(href='/wiki/defesa') Defesa/Blue team
			li
				a(href='/wiki/engrev') Engenharia reversa
			li
				a(href='/wiki/engsoc') Engenharia social
			li
				a(href='/wiki/expbin') Exploração de binários
			li
				a(href='/wiki/hardware') Hardware hacking
			li
				a(href='/wiki/linux') Linux
			li
				a(href='/wiki/osint') OSInt
			li
				a(href='/wiki/rede') Redes
			li
				a(href='/wiki/script') Scripting
			li
				a(href='/wiki/web') Web
			li
				a(href='/wiki/windows') Windows
