extends ../_layouts/default

block content

	.container
		h1
			a(href='') Enciclopédia

	.container
		h2 Bem vindes à base de conhecimento do EitS!

	.container
		p
			| Aqui você encontra paginas sobre diferentes ferramentas e técnicas, assim como 
			a(href='/writeups') write-ups
			|  e vários outros recursos úteis para começar a hackear, melhorar suas habilidades ou só dar aquela relembrada.
		.container
		p A divisão principal dessa enciclopédia é por categoria. Essas são:
		
		ul
			li
				a(href='geral') Geral/Básico
			li
				a(href='forense') Computação forense
			li
				a(href='cripto') Criptografia
			li
				a(href='defesa') Defesa/Blue team
			li
				a(href='engrev') Engenharia reversa
			li
				a(href='engsoc') Engenharia social
			li
				a(href='expbin') Exploração de binários
			li
				a(href='hardware') Hardware hacking
			li
				a(href='linux') Linux
			li
				a(href='osint') OSInt
			li
				a(href='rede') Redes
			li
				a(href='script') Scripting
			li
				a(href='web') Web
			li
				a(href='windows') Windows
