extends ../_layouts/default

block content

	.subtitle
		h1
			a(href='/wiki') &larr; #[a(href='') Redes]

		sub categoria

	.container
		p Redes de computadores, suas comunicações e seus protocolos.
	h4.subtitle Técnicas/Termos:
	.container
		ul
			li OSI
			li TCP/IP
	h4.subtitle Ferramentas:
	.container
		ul
			li
				a(href='nmap') nmap
			li
				a(href='hydra') hydra
			li masscan
			li tcpflow
			li wireshark/tshark
			li ssh
			li ftp
