extends ../_layouts/default

block content

	.subtitle
		h1
			a(href='/wiki') &larr; #[a(href='') Scripting]

		sub categoria

	.container
		p
			| Automatização de tarefas maçantes, repetitivas e/ou esporádicas (coisas que você faz em 
			s 5min, mas pode automatizar em
			|  2h, mas pode automatizar em 5min).
	h4.subtitle Técnicas/Termos:
	.container
		ul
			li Programação
	h4.subtitle Ferramentas:
	.container
		ul
			li bash
			li python
			li perl
