extends ../_layouts/default

block content

	.subtitle
		h1
			a(href='/osint') &larr; #[a(href='') Sherlock]

		sub ferramenta (linux, mac, windows)

	h4#descricao.subtitle Descrição:
	.container
		p
			code sherlock
			|  é uma ferramenta de 
			a(href='/osint') OSINT
			|  que
			| &#x9;busca por contas com os nomes de usuário que você fornece. No final, é criado
			| &#x9;um arquivo para cada usuário listando todos os sites em que aparenta ter uma
			| &#x9;conta com o nome.
	h4#uso.subtitle Uso:
	.container
		p
			code
				| sherlock [opções] &lt;nome de usuário&gt; [nome de
				| usuário]..
		p
		h4#opcoes.subtitle Opções:
		ul
			li
				b --print-found
				| : 
				p
					| mostra somente os sites que encontraram contas
					| com o nome de usuário
			li
				b -t/--tor
				| : 
				p passa todo o tráfico dessas requisições pela rede tor
			li
				b -u/--unique-tor
				| : 
				p
					| passa os tráficos pela rede tor, mas cria uma
					| nova cadeia na rede a cada requisição
			li
				b -fo/--folderoutput &lt;diretório&gt;
				| : 
				p
					| diretório em que será
					| colocados todos os arquivos de resultado do scan (caso haja mais de um
					| nome de usuário)
			li
				b -o/--output &lt;arquivo&gt;
				| : 
				p
					| nome do arquivo onde será guardado
					| o resultado (caso haja somente um nome de usuário)
	h4#exemplos.subtitle Exemplos:
	.container
		p Procurar pelos usuários intheshell, eachintheshell e eits
		code.tab.block sherlock intheshell eachintheshell eits
		p A mesma pesquisa, mas agora só mostrando os resultados que deram positivo
		code.tab.block sherlock --print-found intheshell eachintheshell eits
