extends ../_layouts/default

block content
	.subtitle
		h1
			a(href='/wiki/forense') &larr; #[a(href='') steghide]

		sub ferramenta (linux, mac, windows)

	h4#descricao.subtitle Descrição:
	.container
		p
			code Steghide
			|  é uma programa de  que consegue esconder e recuperar informação dentro de imagens e arquivos de áudio.
		p
			| Gambiarra para rodar steghide no macOS X 
			a(href='https://gist.github.com/cedriczirtacic/f6e4c200a91dbf4840dde15fda35eff9') AQUI&nearr;
			| .
	h4#info.subtitle Informação:
	.container
		p
			code  steghide info [-p] &lt;arquivo&gt;
		ul
			li
				b -p &lt;senha&gt;
				|  (funciona nos 3 modos): senha que foi usara para embutir o arquivo.
		p
			| Ver informações (metadados) sobre o arquivo embutido.
	h4.subtitle(id='extração') Extração:
	.container
		p
			code steghide extract -sf &lt;arquivo1&gt; -xf &lt;arquivo2&gt; -p &lt;senha&gt;
		| &#x9;O &quot;
		code arquivo1
		| &quot; é o arquivo que contém o arquivo embutido e o &quot;
		code arquivo2
		| &quot; é o arquivo que vai ser extraído.
		ul
			li
				b -sf/--stegofile &lt;arquivo&gt;
				| : recebe o arquivo que tem a informação imbutida.
			li
				b -xf/--extractfile &lt;arquivo&gt;
				| : recebe o nome arquivo que vai ser criado após a extração.
	h4#embutir.subtitle Embutir:
	.container
		p
			code  steghide embed -ef &lt;arquivo1&gt; -cf &lt;arquivo2&gt; -p &lt;senha&gt; [opções]
		| &#x9;O &quot;
		code arquivo1
		| &quot; fica embutido dentro do &quot;
		code arquivo2
		| &quot;.
		h4#opcoes.subtitle Opções:
		ul
			li
				b -ef/--embedfile &lt;arquivo&gt;
				| : recebe como parâmetro o arquivo que vai ser embutido.
			li
				b -cf/--coverfile &lt;arquivo&gt;
				| : recebe como parâmetro o arquivo que vai ser usado para camuflagem. Arquivos suportados AU, BMP, JPEG ou WAV, pode ser encontrado no 
				a(href='http://steghide.sourceforge.net/documentation/manual.pdf') site&nearr;
				| .
			li
				b -sf/--stegofile &lt;arquivo&gt;
				| : recebe como parâmetro o nome do arquivo embutido.
			li
				b -e/--encryption &lt;algoritmo&amp;gt &lt;modo&gt;
				| : recebe dois parâmetros um algoritmo e um modo não importando a ordem em que vai ser recebido. Para ver os tipos de suportados usar o comando &quot;
				code steghide encinfo
				| &quot;, usar -e sem nada para não encriptar. Por padrão é encriptado em 
				i rujndael-128
				|  (AES) utilizando 
				i cbc
			li
				b -z/--compress &lt;1-9&gt;
				| : recebe como parâmetro um número de 1 a 9. Sendo 1 maior velocidade e 9 a melhor compressão.
			li
				b -Z/--dontcompress
				| : não comprime os dados
			li
				b -K/--nochecksum
				| : ele não embuteCRC32. Coloque se não quiser que ele gaste 32 bits a mais de memória ou já tem um 
				i cheksum
				| .
			li
				b -N/--dontembeedname
				| : essa opção faz com que o não coloque o nome dentro do arquivo.
	h4#exemplos.subtitle Exemplos:
	.container
		p Extrair:
		p
			| Um arquivo da imagem &quot;
			code fotosecreta.jpeg
			| &quot; para &quot;
			code texto_super_secreto
			| &quot;.
		code.tab.block steghide extract -sf fotosecreta.jpeg -xf texto_super_secreto
		p Embutir:
		p
			| Um arquivo &quot;
			code senha_super_secreta
			| &quot; em &quot;
			code sweater_weather.wav
			| &quot; com o nome &quot;
			code senhazinha
			| &quot;.
		code.tab.block steghide embed -ef senha_super_secreta -cf textosupersecreto -sf senhazinha
		p
			| Um arquivo &quot;
			code nudes.jpg
			| &quot; em &quot;
			code garden.bmp
			| &quot; com criptografia rc2 no modo cbc
		code.tab.block steghide embed -ef nudes.jpg -cf garden.bmp -e rc2 cbc
