extends ../_layouts/default

block content
	.subtitle
		h1
			a(href='/wiki/forense') &larr; #[a(href='') stegsolve]

		sub ferramenta (linux, mac, windows)

	h4#descricao.subtitle Descrição:
	.container
		p
			code Stegsolve
			|  é uma ferramenta feita em Java que permite a visualização e algumas transformações simples em imagem, extração de dados, resolver stereogramas, combinar imagens e verificar várias coisas como formatos de arquivo, bytes adicionais, buracos em arquivos etc... (dependendo do tipo de imagem)
		p
			| Pode ser instalado 
			a(href='http://www.caesum.com/handbook/Stegsolve.jar' target='_blank') aqui&nearr;
			| . Ou pode, caso exista, ser instalado através do pacote da ferramenta pelo seu gerenciador de pacotes.
		p As cinco funcionalidades podem ser encontradas na aba analyse.
	h4#uso.subtitle Uso:
	.container
		p  Caso tenha baixado o stegsolve.jar rodar:
		p
			code  java -jar stegsolve.jar
		p  Caso tenha baixado pelo gerenciador de pacotes rodar:
		p
			code  stegsolve
