extends ../_layouts/default

block content
	.subtitle
		h1
			a(href='/cripto') &larr; #[a(href='') Teoria dos Números]

		sub categoria

	h4#descricao.subtitle Descrição:
	
	.container
		p
			| A teoria dos números é um ramo da matemárica pura que estuda as propriedades dos números em geral, mas com o foco nos inteiros
		
	h4#uso.subtitle Subdivisões:
	
	.container
		ul
			li
				| Teoria elementar dos números
			li
				| Teoria analítica dos números
			li
				| Teoria algébrica dos números
			li
				| Teoria geométrica dos números
			li
				| Teoria transcendente dos números
