extends ../_layouts/default

block content

	.subtitle
		h1
			a(href='/wiki/geral') &larr; #[a(href='') wordlist]

		sub termo

	h4#descricao.subtitle Descrição:
	.container
		p #[a(href='') Wordlists] são arquivos que contém uma lista das mais prováveis possibilidades para um dado contexto.
		p Normalmente você encontra #[a(href='') wordlists] de senhas, nomes de usuário e pastas escondidas em sites, mas existem várias diferentes possibilidades e contextos em que usar uma #[a(href='') wordlist] é útil.
